$screen-width-2sm: 375px;
$screen-width-sm: 640px;
$screen-width-md: 768px;
$screen-width-lg: 1024px;
$screen-width-xl: 1280px;
$screen-width-2xl: 1536px;

// @media (min-width: $screen-width-sm) {}
// @media (min-width: $screen-width-md) {}
// @media (min-width: $screen-width-lg) {}
// @media (min-width: $screen-width-xl) {}
// @media (min-width: $screen-width-2xl) {} 
 
 .head {
    width: 100%;
    height: 64px;
    max-height: 64px;
    min-width: calc($screen-width-2sm - 30px);
    padding: 0px 20px;
    display: flex;
    align-items: center;
    z-index: 10;
    // margin-bottom: 60px;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 5px black solid;
  
    @media (min-width:400px) {}
    @media (min-width: $screen-width-md) {}
    @media (min-width: $screen-width-lg) {
        border-bottom: none;
    }
    @media (min-width: $screen-width-xl) {}
    @media (min-width: $screen-width-2xl) {} 


    h1 {
        position: relative;
        font-family:"Helvetica Neue";
        width:40%;
        max-width:170px;
        // margin-left: 10px;
        line-height:20px;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 20px;
        text-shadow: 10px 10px 9px rgba(71, 71, 71, 0.226);
        letter-spacing: 7px;
        color: rgb(0, 0, 0);
    }


    button {
        width:40%;
        max-width:170px;
        min-width:140px;
        height:40px;
        background-color: white;
        border: rgb(0, 0, 0) solid 1px;
        border-radius: 10px;
        text-transform: uppercase;
        color:rgb(0, 0, 0);
        letter-spacing: 2.5px;
        font-size: 14px;
        transition: background-color 1s, border 2s, color 2s;
  
        @media (min-width: $screen-width-md) {}
        @media (min-width: $screen-width-lg) {}
        @media (min-width: $screen-width-xl) {}
        @media (min-width: $screen-width-2xl) {} 

  
        &.display {
            background-color: black;
            color:white;
            border: rgb(255, 255, 255) double 4px;
        }
    }
}