    .foot{
        position: absolute;
        bottom:0;
        left:0;
        width:100%;
        padding: 20px;
        background-color: transparent;
         p {
             font-size: 10px;
         }
    }