
    
    .main{
        position: relative;
        width:100%;
        max-width: 1000px;
        gap:10px;
        display: flex;
        flex-wrap: wrap;
        border: white solid thin;
        overflow: scroll;
        & > div {
            width:25%;
        }
    }

// 

