$screen-width-2sm: 375px;
$screen-width-sm: 640px;
$screen-width-md: 768px;
$screen-width-lg: 1024px;
$screen-width-xl: 1280px;
$screen-width-2xl: 1536px;

// @media (min-width: $screen-width-sm) {}
// @media (min-width: $screen-width-md) {}
// @media (min-width: $screen-width-lg) {}
// @media (min-width: $screen-width-xl) {}
// @media (min-width: $screen-width-2xl) {}


// components/portfolio/PortfolioHeader.tsx
.portfolio-header {
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width:100%;
    min-width: 375px;
    height: 39px;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.329);
    backdrop-filter: blur(17px);
    @media (min-width: $screen-width-sm){
        height:50px;
    }
    @media (min-width: $screen-width-lg){
        height:60px;
    }

    h3 {
        color:white;
        width:fit-content;
        background-color: transparent;
        font-size: 13px;
        letter-spacing: 4px;
        font-weight: 200;
        @media (min-width: $screen-width-sm){
            font-size: 20px;
        }
        @media (min-width: $screen-width-lg){
            font-size: 25px;
        }
    }


    button {
        width:fit-content;
        min-width:100px;
        height:25px;       
        border: rgb(0, 0, 0) solid thin;
        border-radius: 10px;
        text-transform: uppercase;
        color:rgb(255, 255, 255);
        letter-spacing: 2.5px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.61);
        
        transition: background-color 1s, border 2s, color 2s;

        @media (min-width: $screen-width-sm) {
            height:30px;    
            font-size: 18px;
            line-height: 25px;
        }
        @media (min-width: $screen-width-lg) {
            height:40px;    
            font-size: 18px;
            line-height: 25px;
        }

        @media (min-width: $screen-width-xl) {}
        @media (min-width: $screen-width-2xl) {} 


        &:hover {
            background-color: black;
            color:white;
            border: rgb(255, 255, 255) double 4px;
        }
    }
} // end of PortfolioHeader.tsx


// components/portfolio/PortfolioMedia.tsx 
.screen-background {
    height:100%;

    button {
        position: absolute;
        width:5rem;
        display: none;
        right:10px;
        top:10px;
        // bottom:10px;
        background-color: rgb(0, 0, 0);
        border:white thin solid;
        // border:none;
        color:white;
        font-size: 1.2rem;
        padding:0 10px 3px 10px;
        border-radius: 10px;;
        letter-spacing: .2rem;
        font-family:"Helvetica Neue";
        font-weight: 200;
    }

    &.full-screen {
        position: fixed;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.87);
        z-index: 100;

        button {
            display: unset;
        }

        img {
            width:90% !important;
            max-width: unset !important;
        }

        video {
            width:100% !important;
            max-width: unset !important;

        }
    }
}

// components/portfolio/PortfolioBrief.tsx
 .portfolio-brief {
    position: relative;
    width:100%;

    @media (min-width: $screen-width-sm) {
        padding-bottom:20px;
    }
    @media (min-width: $screen-width-lg) {
        order: 1;
        padding-left: 0;
    }

    h1 {
        font-size: 50px;
        line-height: 45px;
        @media (min-width: $screen-width-sm) {
            font-size: 55px;
            line-height: 50px;
            
        }
    }
    ul {
        margin-top: 15px;
        font-size: 20px;
        font-weight: 200;
        background-color: rgb(0, 0, 0);
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        gap: 9px;
        @media (min-width: $screen-width-sm) {
            font-size: 25px;
        }

        li {

            &:nth-child(1){
                width:50px;
                @media (min-width: $screen-width-sm) {
                    margin-right: 6px;
                }
                @media (min-width: $screen-width-lg) {
                    margin-right: 10px;
                }

            }

            display: flex;
            justify-self: center;
            align-items: center;

            &>*{
                width:20px !important;
                height:20px !important;
                    @media (min-width: $screen-width-sm) {
                    width:30px !important;
                    height:30px !important;
                }
            }
        }
        // justify-content: space-between;
    }
} // end of PortfolioBrief.tsx



// components/portfolio/PortfolioTech.tsx
.portfolio-techs {

    padding: 20px 10px;
    @media (min-width: $screen-width-sm) {
        padding: 25px 12.5px;
    }
    @media (min-width: $screen-width-lg) {
        order: 2;
        padding-left: 0;
    }
    h3 {
        font-size: 18px;
        letter-spacing: 1.5px;
        font-weight: 200;
        margin-bottom: 10px ;
        @media (min-width: $screen-width-sm) {
            font-size: 25px;
        }
    }
    div {
        display: flex;
        flex-wrap: wrap;
        gap:5px;

            & >.badge {
            width:fit-content !important;
            height:30px !important;
            color:white;
            border-radius: 5px !important;
            padding: 0px 5px 0px 5px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @media (min-width: $screen-width-sm) {
                height:40px !important;
            }
            @media (min-width: $screen-width-md) {
                height:34px !important;
            }

            span {
                font-family: "Helvetica Neue" !important;
                font-weight: 400 !important;
                font-size: 14px !important;
                color:rgb(255, 255, 255) !important;
                @media (min-width: $screen-width-sm) {
                    font-size: 16px !important;
                }
                @media (min-width: $screen-width-md) {
                    font-size: 16px !important;
                }
                
            }
        }
    }
} // end of PortfolioTech.tsx




// components/portfolio/PortfolioCover.tsx
  .portfolio-cover {
    position:relative;
    width:100%;
    height:100%;
    padding: 0;

    @media (min-width: $screen-width-lg) {

        position:absolute;
        top:30px;
        right:0px;
        float: right;
        width: 45px;
        height:90%;
        margin-right: 10px;
        border:none !important;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
    
        // justify-content:flex-start;
        line-height: 10px;
        gap:30px;
        // align-items: center;

    }


    video {
        width:100%;
        object-fit:contain;
        object-position: center top;
        @media (min-width: $screen-width-lg) {
            height:100%;
        }
    }

    img {
        width:100%;
        object-fit: contain;
        object-position: center top;
        max-height: 400px;
        @media (min-width: $screen-width-lg) {
            max-height: unset;
            height:100%
        }
    }
} // end of portfolioCover.tsx



// components/portfolio/PortfolioArticle.tsx
.portfolio-article {
    padding: 10px;
    font-size: 18px;
    text-align: left;
    font-weight: 300;
    letter-spacing: 1px;
    min-height: 150px;
    border:none;
    padding:20px 20px 30px 20px;
    @media (min-width: $screen-width-sm) {
            font-size: 21px;
            letter-spacing: 1.3px;
            line-height: 25px;
    }
    @media (min-width: $screen-width-lg) {
        order: 3;
        padding-left: 0;
        border-bottom: none !important;
    }

    img {
        padding: 5px;
        float:left;
        width:120px;
        height:120px;
        object-fit: contain;
        margin-right: 15px;
        margin-bottom: 6px;
        // box-shadow: inset 2px 2px 10px #00000070;
    }
    .no-img {
        padding: 5px;
        float:left;
        width:120px;
        height:120px;
        margin-right: 15px;
        margin-bottom: 6px;
        background-color: rgba(0, 0, 0, 0.822);
        color:white;
        font-family:"Helvetica Neue";
        font-weight: 500;
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border:white thin solid;
    }
} // end of PortfolioArticle.tsx 





// components/portfolio
.portfolio-no-additional-info {
    background-color: black;
}

.portfolio-additional-info {

    position: relative;
    width:100%;
    padding: 10px;
    padding-top: 30px;
    font-family:"Helvetica Neue";
    color:white;
    @media (min-width: $screen-width-lg) {
        border-top: rgba(255, 255, 255, 0.281) solid thin;
        padding:30px;
    }

    &>h3 {
        font-size: 18px;
        letter-spacing: 1.5px;
        font-weight: 200;
        text-decoration: underline;


        @media (min-width: $screen-width-sm) {
            font-size: 25px;
        }
    }

    .section {

        position: relative;
        width:100%;
        margin-top: 30px;
        padding-bottom: 30px;

        @media (min-width: $screen-width-lg) {
            display:flex;
            flex-direction: row;
            gap:20px;
            justify-content: space-between;
            align-items: flex-start;
        }

        div {
            img {
                width:100%;
                object-fit: contain;
                @media (min-width: $screen-width-lg) {
                max-width:540px;
                }
            }

            video {
                width:100%;
                object-fit: contain;
            }
        }


        article {
            margin-bottom: 20px;
            font-size: 18px;
            text-align: left;
            font-weight: 300;
            letter-spacing: 1px;
            display: unset !important;

            @media (min-width: $screen-width-sm) {
                font-size: 20px;
            }
            @media (min-width: $screen-width-lg) {
                max-width:50%;
            }
        }
        
    }

} // end of PortfolioAdditionalInfo 

// page/portfolio/[portfolioId].tsx
.portfolio {
    position: relative;
    width:100vw;
    min-height:100Vh;
    min-width: $screen-width-2sm;
    font-family:"Helvetica Neue";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
     overflow-y:scroll;
    @media (min-width: $screen-width-lg) {
        justify-content: flex-start;
    }


    .portfolio-container{
        position:relative;
        padding-top: 50px;
        background-color: black;
        width:100%;
        min-width: 375px;
        max-width: 1500px;

       
        .portfolio-body {

            position: relative;
            width:100%;
            height:100%;
            background:black;
            color:white;
            // min-height: 100vh;

            &>* {
                border-bottom:rgba(255, 255, 255, 0.473) solid .5px;
                padding: 10px;
            }
            @media (min-width: $screen-width-lg) {
                display:flex;
                flex-direction: column;
                padding: 15px;
                &>*{
                    width:45%;
                }
            }
        }
    }

}



// .portfolio-additional-info {}



// components/portfolio/ProfolioDescriptions.tsx
// appear when hovering the box in large screen
.portfolio-description {
    position: fixed;
    top:0;
    bottom:0;
    margin: auto 0;
    padding: 10px;
    height:fit-content;
    width: 30% !important;
    min-width: 400px;
    min-height: 300px;
    
    // background-color: rgba(0, 0, 0, 0.527);
    border-radius: 20px;
    border:black solid 3px;
    visibility:hidden;
    opacity: 0;
    box-shadow: rgb(221, 221, 221) 10px 10px 10px;
    font-family:"Helvetica Neue";

    .list {
        .list-obj {
             height:fit-content;
             min-height :270px;
             min-width :375px;
            .list-faceX {
                display: none !important;
                opacity: 1 !important;
                visibility: visible !important;
                animation: none !important;

            }
            .list-faceY {
                .panal-y-detail {
                    height:fit-content !important;
                    border-bottom: none !important;

                    .list-projectName {
                        font-size: 20px !important;
                    }

                    .list-projectShortDescription{
                        font-size: 13px !important;
                    }

                    .list-badge {  
                        height:20px !important;

                        span {
                            font-size: 13px !important;
                        }
                    }
                }
            }
        }
    }
   
    

    &.left {
        left:10%;
        // height:50%;
        visibility:visible;
        opacity: 1;
        transition:visibility 2s,opacity 2s, height 1s;
    }

    &.right {
        right:10%;
        // height:50%;
        visibility:visible;
        opacity: 1;
         transition:visibility 2s,opacity 2s, height 1s;
    }

    h1:nth-child(2) {
        margin-bottom: 30px;
        font-weight: 400;

    }

    .tech-badges {
        position: relative;
        width:100%;
        display: flex;
        flex-wrap: wrap;
        gap:10px;
    }
}


.loading-page{
    position:relative;
    width:100%;
    height:100%;
    background-color: black;
    color:white
}

