.badge {
    position:relative;
    border:black thin solid;
    width:fit-content;
    height:30px;
    background-color: rgb(61, 60, 60);

    padding: 5px 10px;
    border-radius: 10px;
 
    span {
        font-family: "Helvetica Neue";
        font-weight: 200;
        color:white
    }
}

.customButton {
    
}